@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }
    ol {
        @apply list-outside list-decimal pl-2.5
    }
    ul {
        @apply list-outside pl-2.5 list-disc;
    }
}

@layer components {
    .link-button {
        @apply
        px-2 py-1
        hover:bg-blue-700
        transition
        flex items-center justify-center
    }
    
    .list-roman {
        list-style-type: upper-roman;
    }
    
    .list-alpha {
        list-style-type: lower-alpha;
    }
    
    .section {
        @apply py-12 transition-transform h-screen overflow-y-auto;
    }

    /* Custom transition for unfolding from top to bottom */
    .toggle-content {
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        height: auto;
        transition: height 0.5s , opacity 0.5s, visibility 0s 0.5s;
    }

    .toggle-content.show {
        visibility: visible;
        opacity: 1; 
        transition: height 0.5s, opacity 0.5s, visibility 0.5s 0s;
    }
    
    .toggle-content.hide {
        display: none;
        height: 0;
    }
}