@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }
    body {
        @apply flex flex-col content-center w-full min-h-screen overflow-y-auto font-light
    }
    
    ol {
        @apply list-outside list-decimal pl-2.5
    }
    ul {
        @apply list-outside pl-2.5 list-disc;
    }
}

@layer components {
    .link-button {
        @apply px-2 py-1 h-12 hover:bg-light-violet hover:text-white transition flex items-center justify-center
    }

    .link-text {
        @apply text-blue-400 underline underline-offset-1 hover:text-violet-700
    }
    
    .w-126 {
        width: 32rem;
    }
    
    .list-roman {
        list-style-type: upper-roman;
    }
    
    .list-alpha {
        list-style-type: lower-alpha;
    }
    
    .section {
        @apply pt-12 max-md:pt-24 pb-2 w-full transition-transform;
    }
    
    .section .content {
        @apply px-6 pt-4 pb-1.5;
    } 
    .section .section_header {
        @apply px-6 pb-4 pt-1.5 font-thin text-4xl hover:bg-gray-300
    }
    
    .header_ {
        @apply flex bg-[#a2a2ff] h-fit w-full fixed top-0 left-0 z-10
    }
    
    .main_ {
        @apply flex flex-col w-full h-fit   
    }
    
    .footer_ {
        @apply w-full flex-grow flex flex-col justify-end
    }
    .footer_ .content {
        @apply w-full bg-[#a2a2ff] py-3 px-5 flex max-md:flex-col md:flex-row justify-around gap-2.5
    }
    .footer_ .content .part {
        @apply flex flex-col text-start items-start max-md:border-b max-md:last:border-b-0 max-md:border-black max-md:border-opacity-25
    }
    
    .notification {
        @apply flex items-center text-white px-4 py-3 rounded-lg shadow-lg shadow-gray-400 w-full my-1
    }
    
    .form_ {
        @apply p-6 bg-white rounded-lg shadow-lg shadow-gray-400
    }

    .form_block {
        @apply mb-4
    }

    .form_label {
        @apply block font-medium text-gray-700
    }

    .form_input {
        @apply mt-2 block w-full rounded-lg border-gray-400 border focus:ring-2 focus:ring-cobalt focus:outline-none p-2
    }
    
    .form_submit {
        @apply w-full bg-cobalt text-white py-2 rounded-lg hover:bg-catalina-blue transition
    }
    
    .gallery_section {
        @apply w-full
    }
    
    .gallery_section .header {
        @apply w-full px-3 py-2 mb-3 flex justify-center content-center items-center text-4xl font-thin
    }
    
    .gallery_section .content {
        @apply columns-1 gap-5 sm:columns-2 sm:gap-8 md:columns-3 lg:columns-4 [&>img:not(:first-child)]:mt-8
    }

    /* Custom transition for unfolding from top to bottom */
    .toggle-content {
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        height: auto;
        transition: height 0.5s , opacity 0.5s, visibility 0s 0.5s;
    }

    .toggle-content.show {
        visibility: visible;
        opacity: 1; 
        transition: height 0.5s, opacity 0.5s, visibility 0.5s 0s;
    }
    
    .toggle-content.hide {
        display: none;
        height: 0;
    }
}